.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.border{
  padding: 10px;
  margin: 10px;
}
.navbar{
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}


.css-1w7lnam {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}
.css-1tbxfp6 {
  margin: 0px;
  font: inherit;
  color: rgb(255, 48, 48);
  text-decoration: none;
  display: contents;
}
.css-syvkei {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media (min-width: 0px){
  .css-syvkei {
      padding: 120px 16px;
    }

}
@media (min-width: 900px){
.css-syvkei {
    padding: 160px 64px 0px;
}}
.input{
  width: 150px;
  height: 20px;
  position: relative;
  top: 8px;
  border-radius: 20px;
}
.addform{
  border: 3px solid red;
  border-radius: 20px;
}

.subbtn{
  margin-bottom: 15px;
}

.profile{
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  float: left;
  cursor: pointer;
  color: rgb(111, 111, 207);
}
.profile:hover{
  color: blue;
}

.medicines{
  border: 1px rgb(111, 111, 207) solid;
  border-radius: 20px;
  width: 30%;
  position: relative;
  left: 35%;
} 
.block{
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #1aa8cc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.QR{
  width: 100px;
  height: 100px;
}